<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

{% for duration in list_duration %}
   <p>---------------------------------------------------------------</p>
   <p>| ID: {{duration.id}} | Client: {{duration.client.name}} |</p>
   <p>| Equipment: {{duration.equipment.name}} | Mode: {{duration.mode.name}} |</p>
   <p>| Duration: {{duration.minutes}} |</p>
   <p>| Start: {{duration.start}} |</p>
   <p>| Stop: {{duration.stop}} |</p>
{% endfor %}
